html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 1.8rem; /* do i need this */
  margin-bottom: 12px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 3.1rem; /* do i need this */
}

h2 {
  font-size: 2.3rem;
  line-height: 2.4rem; /* do i need this */
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

.byline {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  text-align: right;
}

span {
  font-style: italic;
}

blockquote {
  border-left: grey solid 4px;
  margin-left: 30px;
}

.quote {
  padding-left: 20px;
}


ol {
  list-style-position: inside;
}