html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 2.0rem;
  margin-bottom: 16px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Arial, sans-serif;
  margin-bottom: 16px;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.7rem;
}

.byline {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  text-align: right;
  margin-bottom: 16px;
}

span {
  font-style: italic;
}

blockquote {
  border-left: grey solid 4px;
  margin-left: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.quote {
  padding-left: 20px;
}

ol {
  list-style-position: inside;
}

li {
  padding-bottom: 4px;
}

.comments-notes {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: #ccc;
  padding: 12px;
}
